//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.text-center {
	text-align: center;
}

.ptp-14 {
	padding-top: 14%;
}

.mt-14 {
	margin-top: 14px;
}

.mtp-7 {
	margin-top: 7%;
}

.text-muted {
	color: white;
}